modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 25047
externalPort = 3000

[[ports]]
localPort = 25048
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_OGJMpwWspeprzlqFUWyeEQENXee"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_QlAKzSnABwsXylEXGysyHrvnJpx"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_PrynAABKWsJkuDGlYyEurZjjJGO"
REVENUECAT_PROJECT_ID = "proj2d8ef809"
