**/node_modules/**
node_modules
**/.git/**
.git
**/android/**
android
**/.expo/**
.expo
**/dist/**
dist
**/*.log
attached_assets
**/attached_assets/**
screenshots
**/screenshots/**
**/__tests__/**
__tests__
**/coverage/**
coverage
.DS_Store
**/.DS_Store
documents
**/documents/**
