node_modules
../../attached_assets
../../documents
../../artifacts/onjjem-video
../../artifacts/onjjem-website
../../artifacts/whatsupdog
../../artifacts/mockup-sandbox
../../artifacts/owens-photofix
../../node_modules
../../.git
